{% set forecast = state_attr('weather.forecast_home', 'forecast') %}
{% set sunny_count = 0 %}
{% set partlycloudy_count = 0 %}
{% set cloudy_count = 0 %}
{% set rainy_count = 0 %}
{% set pouring_count = 0 %}
{% set snowy_count = 0 %}
{% set snowy_rainy_count = 0 %}
{% set hail_count = 0 %}
{% set lightning_count = 0 %}
{% set lightning_rainy_count = 0 %}
{% set windy_count = 0 %}
{% set fog_count = 0 %}
{% set windy_variant_count = 0 %}
{% set exceptional_count = 0 %}

{% for i in range(0, forecast | length) %}
  {% if i >= 24 %}
    {% break %}
  {% endif %}
  {% set weather_state = forecast[i]['condition'] %}
  {% if weather_state == 'sunny' %}
    {% set sunny_count = sunny_count + 1 %}
  {% elif weather_state == 'partlycloudy' %}
    {% set partlycloudy_count = partlycloudy_count + 1 %}
  {% elif weather_state == 'cloudy' %}
    {% set cloudy_count = cloudy_count + 1 %}
  {% elif weather_state == 'rainy' %}
    {% set rainy_count = rainy_count + 1 %}
  {% elif weather_state == 'pouring' %}
    {% set pouring_count = pouring_count + 1 %}
  {% elif weather_state == 'snowy' %}
    {% set snowy_count = snowy_count + 1 %}
  {% elif weather_state == 'snowy-rainy' %}
    {% set snowy_rainy_count = snowy_rainy_count + 1 %}
  {% elif weather_state == 'hail' %}
    {% set hail_count = hail_count + 1 %}
  {% elif weather_state == 'lightning' %}
    {% set lightning_count = lightning_count + 1 %}
  {% elif weather_state == 'lightning-rainy' %}
    {% set lightning_rainy_count = lightning_rainy_count + 1 %}
  {% elif weather_state == 'windy' %}
    {% set windy_count = windy_count + 1 %}
  {% elif weather_state == 'fog' %}
    {% set fog_count = fog_count + 1 %}
  {% elif weather_state == 'windy-variant' %}
    {% set windy_variant_count = windy_variant_count + 1 %}
  {% elif weather_state == 'exceptional' %}
    {% set exceptional_count = exceptional_count + 1 %}
  {% endif %}
{% endfor %}

{% set most_common_weather = 'sunny' %}
{% set max_count = sunny_count %}

{% if partlycloudy_count > max_count %}
  {% set most_common_weather = 'partlycloudy' %}
  {% set max_count = partlycloudy_count %}
{% endif %}
{% if cloudy_count > max_count %}
  {% set most_common_weather = 'cloudy' %}
  {% set max_count = cloudy_count %}
{% endif %}
{% if rainy_count > max_count %}
  {% set most_common_weather = 'rainy' %}
  {% set max_count = rainy_count %}
{% endif %}
{% if pouring_count > max_count %}
  {% set most_common_weather = 'pouring' %}
  {% set max_count = pouring_count %}
{% endif %}
{% if snowy_count > max_count %}
  {% set most_common_weather = 'snowy' %}
  {% set max_count = snowy_count %}
{% endif %}
{% if snowy_rainy_count > max_count %}
  {% set most_common_weather = 'snowy-rainy' %}
  {% set max_count = snowy_rainy_count %}
{% endif %}
{% if hail_count > max_count %}
  {% set most_common_weather = 'hail' %}
  {% set max_count = hail_count %}
{% endif %}
{% if lightning_count > max_count %}
  {% set most_common_weather = 'lightning' %}
  {% set max_count = lightning_count %}
{% endif %}
{% if lightning_rainy_count > max_count %}
  {% set most_common_weather = 'lightning-rainy' %}
  {% set max_count = lightning_rainy_count %}
{% endif %}
{% if windy_count > max_count %}
  {% set most_common_weather = 'windy' %}
  {% set max_count = windy_count %}
{% endif %}
{% if fog_count > max_count %}
  {% set most_common_weather = 'fog' %}
  {% set max_count = fog_count %}
{% endif %}
{% if windy_variant_count > max_count %}
  {% set most_common_weather = 'windy-variant' %}
  {% set max_count = windy_variant_count %}
{% endif %}
{% if exceptional_count > max_count %}
  {% set most_common_weather = 'exceptional' %}
  {% set max_count = exceptional_count %}
{% endif %}

{{ most_common_weather }}
